@import "colors";
@import "values";

@import "settings";

/*---------------------------------------------
 / Main Styles
*/
:root {
	padding: 0!important;
	font-size: 14px;
	font-family: Roboto, sans-serif;
}

.whatsmyip {
	font-family: Consolas, Menlo, Monaco, monospace;
    text-align: center;

    color: $ip-font-color;

	&-external {
		font-size: 1em;
	}
	&-internal {
		font-size: 0.5em;
	}

    /*
	&.loading {
		color: blue;
	}
	&.error {
		color: red !important;
	}
    */
}